[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
black = "*"
sphinx = "*"
furo = "*"
sphinx-copybutton = "*"
myst-parser = "*"

[pipenv]
allow_prereleases = true
