name: build

on:
  push:
    tags: [v*]
  workflow_dispatch:

env:
  MACOSX_DEPLOYMENT_TARGET: '12.0'

jobs:
  build_wheels:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-13, macos-14]

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Set env (macOS 13)
        if: startsWith(matrix.os, 'macos-13')
        run: echo "SYSTEM_VERSION_COMPAT=0" >> $GITHUB_ENV

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build and test wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_BUILD_FRONTEND: build[uv]
          CIBW_ARCHS_LINUX: x86_64
          CIBW_ARCHS_WINDOWS: AMD64
          CIBW_SKIP: '*-musllinux_* pp*'
          CIBW_TEST_REQUIRES: pytest
          CIBW_TEST_COMMAND: pytest {project}/tests

      - name: Build sdist
        if: startsWith(matrix.os, 'ubuntu')
        run: uv build --sdist

      - uses: actions/upload-artifact@v5
        with:
          name: dist-${{matrix.os}}
          path: |
            ./wheelhouse/*.whl
            ./dist/*.tar.gz

  # Merge all built wheels into one artifact
  merge_wheels:
    runs-on: ubuntu-latest
    needs: build_wheels
    steps:
      - name: Merge wheels
        uses: actions/upload-artifact/merge@v5
        with:
          name: dist-pugixml
          pattern: dist-*
          delete-merged: true
