name: tests

on:
  push:
    branches: [main]
    tags-ignore: ['**']
  pull_request:
  workflow_dispatch:

env:
  MACOSX_DEPLOYMENT_TARGET: '12.0'

jobs:
  test:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install uv and set the python version ${{matrix.python-version}}
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{matrix.python-version}}

      - name: Install dependencies
        run: |
          uv tool install tox --with tox-uv --with tox-gh

      - name: Run test suite
        run: |-
          tox run
        env:
          TOX_GH_MAJOR_MINOR: ${{matrix.python-version}}
